<h1><%= @page.name %></h1>
<h2><%= @image_gallery.name %></h2>
<div id="sidebar">
	<h3>More Photos</h3>
	<ul>
		<li>Galerias</li>
	</ul>
</div>
<ul id="image_galleries">
<% @image_gallery.images.each do |image| %>
	<li><%= link_to image_tag(image.image.url(:thumb), :alt=>image.name, :title=>image.name), image.image.url(:image) %></li>
<% end %>
</ul>
<%= render :partial => 'pages/children' %>
<%= javascript_include_tag 'plugins/jCarouselLite', 'plugins/hoverIntent', 'gallery/default'%>