<h1>In honor of a woman, wife, mother,<br/> aunt, grandmother, friend <br/>and a servant of God... <span>We love you.</span></h1>
<%= link_to image_tag("tag.png", :alt => "Cerimonial Services Information", :title => "Cerimonial Services Information", :id => "tag"), page_path("memorial-service") %>
<%= image_tag "tiana.png", :alt => "Ana Maria", :title => "Ana Maria", :id => "photo" %>
<h2 class="home"><%= @page.name %></h2>
<div id="home_text">
	<%= @page.body.summary 500 %>
</div>
<div id="featured">
	<div>
		<h3>Uploaded Photos</h3>
		<ul id="photos_home">
		<% @photos.each do |photo| %>	
			<li <%= cycle("", "class='odd'") %>><%= link_to image_tag(photo.image.url(:thumb), :alt => photo.name, :title => photo.name, :size => "110x110"), image_gallery_path(photo.image_gallery.permalink) %></li>
		<% end %>
		</ul>
	</div>
	<div class="middle">
		<h3>Recent Testimonials</h3>
		<dl>
		<% @testimonials.each do |testimonial| %>	
			<% link_to testimonial_path(testimonial.permalink) do %>
				<dt><%= testimonial.name %> <small>wrote:</small></dt>
				<dd><%= testimonial.body.summary 100 %></dd>
			<% end %>
		<% end %>
		</dl>
	</div>
	<div>
		<h3>Recent Messages</h3>
		<dl>
		<% @posts.each do |post| %>	
			<% link_to post_path(post.permalink) do %>
				<dt><%= post.name %> <small>wrote:</small></dt>
				<dd><%= post.body.summary 100 %></dd>
			<% end %>
		<% end %>
		</dl>
	</div>
</div>
<p class="break">&nbsp;<p>