<div id="messages">
	<%= error_messages_for :post %>
</div>
<h2>Sent Messages</h2>
<% [:error, :notice].each do |message| %>
	<% content_tag :div, :class => message do %>
		<%= flash[message] %>
	<% end if flash[message] %>
<% end %>
<% if @posts.any? %>
<dl>
	<% @posts.each do |post| %>
		<% link_to post_path(post.permalink) do %>
			<dt><%= post.name %> <small><%= post.created_at.strftime("%b %d, %Y at %I:%M %p") %></small></dt>
			<dd><%= simple_format(post.body.summary 500) %></dd>
		<% end %>
	<% end %>
</dl>
<% else %>
<dl>
	<dt>Be the first to comment.</dt>	
	<dd>No messages yet.</dd>
</dl>
<% end %>	