<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
											"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title><%= metatag_title(@metatag_object, SITE_NAME) %></title>

	<%= metatags(@metatag_object) -%>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta http-equiv="content-language" content="en"/>
	<meta name="author" content="Philipe Casarotte - Ruby on rails development"/>
	<meta name="distribution" content="global"/>
	<meta name="revisit-after" content="30 days"/>
	<meta name="copyright" content="Philipe Casarotte"/>

	<%= stylesheet_link_tag "default" %>

	<link href="/favicon.ico" type="image/x-icon" rel="icon"/>
	<link href="/favicon.ico" type="image/x-icon" rel="shortcut icon"/>

	<%= javascript_include_tag :defaults, "plugins/crossbrowser", "http://www.google-analytics.com/ga", "default" %>
	<%= yield :head %>
</head>
<body>
	<div id="main">
		<div id="top">
			<%= link_to image_tag("ana-maria-tauk-pereira.png", :alt => "Ana Maria Tauk Pereira", :title => "Ana Maria Tauk Pereira"), root_path %>
			<ul>
				<li><%= link_to "Who is? <small>Ana Maria</small>", page_path("who-is") %></li>
				<li><%= link_to "Messages <small>for the family</small>", posts_path %></li>
				<li><%= link_to "Testimonials <small>leave yours</small>", testimonials_path %></li>
				<li><%= link_to "Photos <small>of life</small>", image_galleries_path %></li>
			</ul>
		</div>
		<div id="content">
			<%= yield  %>
		</div>
	</div>
	<div id="footer"><%= link_to 'Developed in love for my aunt Ana', 'http://www.philipecasarotte.com.br', :target => '_blank' %> by Philipe Casarotte</div>
</body>
</html>